:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  /*place-items: center;*/
  /* align-items: center; */
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  /* 
  place-items: center;
   */
}

button {
  font-family: inherit;
  background-color: #f9f9f9;
  border: 1px solid rgb(179, 179, 179);
  cursor: pointer;
  transition: border-color 0.25s;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.board {
  border: 1px solid rgb(179, 179, 179);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.board button {
  font-size: 1.5em;
  font-weight: 600;
  
  height: 50px;
  width: 50px;
}
button:hover {
  border-color: #3d3d3d;
}
/*button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-control {
  border: 1px solid rgb(179, 179, 179);
  display: flex;
}

.buttons-control button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1em;
  font-weight: 500;
  height: 50px;
  width: 50px;
}

.buttons-jump {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  
  /* justify-content: space-evenly; */
}
.button-jump {
  padding: 5px 10px;
}